# dependencies
node_modules/

# build
dist/
.vite/

# vite build sibling temp files
src/*.timestamp-*.mjs
src/[A-Z0-9]*

# env
.env.local
.env.*.local

# editor
.DS_Store
.idea/
.vscode/

# logs
*.log
